/* Dashboard.css (nouvelle version adaptée au design avec Topbar) */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  overflow-x: hidden;
}

.dashboard-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.dashboard-content {
  margin-top: 60px; /* pour que le contenu commence sous le Topbar */
  padding: 20px;
  min-height: calc(100vh - 60px);
  background-color: #f8f9fa;
}


/* @media (min-width: 768px) {
  .dashboard-container {
    flex-direction: row;
  }
} */
/* Dashboard.css (nouvelle version adaptée au design avec Topbar) */



