.datasets-page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* gerer la taille en largeur de la page  datasets */
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px;
}

/* Top section layout (Modalities + Size + Upload + Filter) */
.datasets-top-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 40px;
  height: auto;
  margin-top: 30px;
}

/* Left section = Modalities (65%) */
.left-section {
  flex: 0 0 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:40px;
}

/* Right section = Size slider + buttons (35%) */
.right-section {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* Upload + Filter row in right section */
.upload-filter-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 100px;
  margin-top: auto;
}

/* Upload button style */
.upload-btn {
  background-color: #2E3A59;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 180px;
}

.upload-btn:hover {
  background-color: #145eaa;
}

/* Modalities box */
.modalities-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  height: 100%;
}

.modalities-container h3 {
  margin-bottom: 15px;
  color: #2c3e50;
}

.modalities-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.modality-button {
  background-color: #eaf4fb;
  color: #2c3e50;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all
}
